<!-- /*
============================================
; Assignment 8.2 – Server-side Communications
; Author: Dan Ross
; Date: 20 Feb 2021
; Modified By: Dan Ross
; Description: This is the 'contact' HTML page
;===========================================
*/ -->
<!-- We're using Angular Flex Layouts -->
<!-- Start our main container here.  -->
<div fxLayout="row wrap">
  <!-- Start our address card here.  -->
  <div fxFlex>
    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">navigation</mat-icon>
      </mat-card-title>
      <br />
      <mat-card-content class="align-center">
        <p>505 Main Street</p>
        <p>Omaha, Nebraska</p>
      </mat-card-content>
    </mat-card>
  </div> <!-- End our address card here.  -->
  <!-- Start our phone card here.  -->
  <div fxFlex>
    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">phone</mat-icon>
      </mat-card-title>
      <br />
      <mat-card-content class="align-center">
        <p>Direct: 555-555-5555</p>
        <p>Toll-free: 1-888-555-5555</p>
        <p>Fax: 555-555-5555</p>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- End our phone card here.  -->
</div> <!-- End our main container here.  -->
<br />
<br />
<br />
<br />
<!-- Start our footer here -->
<div fxLayout="column">
  <p style="text-align: center">
    Visit us online or at one of our many great locations throughout the Omaha
    metro area.
  </p>
</div><!-- End our footer here -->
